{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Recruiting</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    <div class="container">
        <h3 class=" text-center text-uppercase">Application Pipeline for: <u>{{ applicant.last_name }}, {{ applicant.first_name }} {{ applicant.middle_name }} ({{ applicant.state_abbrev }})</u></h3>
    </div>
    <div class="container">
        {%  if applicant.phone %}
            <h5 class="text-center">Phone: {{ applicant.phone }}</h5>
        {%  else %}
            <h5 class="text-center">Phone: N/A</h5>
        {%  endif %}
        {%  if applicant.email %}
            <h5 class="text-center">Email: {{ applicant.email }}</h5>
        {% else %}
            <h5 class="text-center">email: N/A</h5>
    {%  endif %}
    {%  if applicant.resume %}
        <h5 class="text-center"><a href="{{ applicant.resume.url }}" target="_blank">{{ applicant.first_name }} {{ applicant.last_name }} Resume</h5></a>
    {%  else %}
        <h5 class="text-center">{{ applicant.first_name }} {{ applicant.last_name }} Resume: N/A</h5></a>
    {%  endif %}
    <br><br>

    <!-- FIRST INTERVIEW -->
    <div class="container">
        {%  if interview1.interview1_completed %}
            <h4 class="bg-success"><u>FIRST INTERVIEW </u>
                (COMPLETED)
        {% else %}
            <h4 class="bg-danger"><u>FIRST INTERVIEW </u>
                (INCOMPLETE)
        {% endif %}
        </h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">Scheduled: {{ interview1.interview1_scheduled }}</th>
                    <th scope="col">First Interview Date: {{ interview1.interview1_date }}</th>
                </tr>
                <tr>
                    <th scope="col">Interviewing Manager: {{ interview1.interview1_manager }}</th>

                </tr>
                <tr>
                    <th scope="col">Notes: {{ interview1.interview1_notes }}</th>
                </tr>
                <tr>
                    <th scope="col">Completed: {{ interview1.interview1_completed }}</th>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'applicant_interview1' pk=applicant.id %}">
            <button class="btn btn-secondary float-end" type="submit">Add / Edit Interview 1</button></a>
    <br><br>

    <!-- SECOND INTERVIEW -->
    <div class="container">
        <h4><u>SECOND INTERVIEW DETAILS:</u></h4>

    </div>



{% endblock content %}