{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Recruiting</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    <div class="container">
        <h3 class=" text-center text-uppercase">Application Pipeline for: <u>{{ applicant.last_name }}, {{ applicant.first_name }} {{ applicant.middle_name }} ({{ applicant.state_abbrev }})</u></h3>
    </div>
    <div class="container">
        {%  if applicant.phone %}
            <h5 class="text-center">Phone: {{ applicant.phone }}</h5>
        {%  else %}
            <h5 class="text-center">Phone: N/A</h5>
        {%  endif %}
        {%  if applicant.email %}
            <h5 class="text-center">Email: {{ applicant.email }}</h5>
        {% else %}
            <h5 class="text-center">email: N/A</h5>
    {%  endif %}
    {%  if applicant.resume %}
        <h5 class="text-center"><a href="{{ applicant.resume.url }}" target="_blank">{{ applicant.first_name }} {{ applicant.last_name }} Resume</h5></a>
    {%  else %}
        <h5 class="text-center">{{ applicant.first_name }} {{ applicant.last_name }} Resume: N/A</h5></a>
    {%  endif %}

    <!-- Links to sections on page -->
    <div class="text-center">
        <a href="#first_interview">First Interview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#second_interview">Second Interview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#final_wrap-up">Final Wrap-Up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>

    <!-- FIRST INTERVIEW -->
    <div class="container" id="first_interview">
        {%  if interview1.interview1_completed %}
            <h3 class="bg-success"><u>FIRST INTERVIEW </u>
                (COMPLETED)
        {% else %}
            <h3 class="bg-warning"><u>FIRST INTERVIEW </u>
                (INCOMPLETE)
        {% endif %}
        </h3>

        <div class="p-3 row">
            {% if interview1.interview1_scheduled %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Scheduled:</u>&nbsp;&nbsp;&nbsp<i class="fa-solid fa-check fa-xl" style="color:green"></i></h5></div>
            {% else %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Scheduled:</u>&nbsp;&nbsp;&nbsp<i class="fa-solid fa-xmark fa-xl" style="color:red"></i></h5></div>
            {%  endif %}
            <div class="p-2 col-lg border border-secondary rounded"><h5><u>First Interview Date:</u>&nbsp;&nbsp;{{ interview1.interview1_date }}</h5></div>
        </div>
        <div class="row p-3 pt-0">
            <div class="p-2 col-lg border border-secondary rounded"><h5><u>Interviewing Manager:</u>&nbsp;&nbsp;{{ interview1.interviewer1_manager }}</h5></div>
        </div>
        <div class="row p-3 pt-0">
            <div class="p-2 col-lg border border-secondary rounded"><h5><u>Notes:</u></h5><p>&nbsp;&nbsp;{{ interview1.interview1_notes }}</p></div>
        </div>
        <div class="row p-3 pt-0">
            {% if interview1.approved_to_continue %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Approved to Continue:</u>&nbsp;&nbsp;<i class="fa-solid fa-check fa-xl" style="color:green"></i></div>
            {% else %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Approved to Continue:</u>&nbsp;&nbsp;<i class="fa-solid fa-xmark fa-xl" style="color:red"></i></div>
            {%  endif %}

            <!-- Link to page to generate email text if decline to continue -->
            {% if interview1.decline_email_sent %}
{#                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Decline Email Sent:</u>&nbsp;&nbsp;<i class="fa-solid fa-check fa-xl" style="color:green"></i>&nbsp;&nbsp;&nbsp<a href="int1_decline_text/{{ applicant.id }}" target="_blank">Email Text</a></div>#}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Decline Email Sent:</u>&nbsp;&nbsp;<i class="fa-solid fa-check fa-xl" style="color:green"></i>&nbsp;&nbsp;&nbsp<a href="{% url 'int1_decline_text' applicant.id%}" target="_blank">Email Text</a></div>
            {% else %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Decline Email Sent:</u>&nbsp;&nbsp;<i class="fa-solid fa-xmark fa-xl" style="color:red"></i>&nbsp;&nbsp;&nbsp<a href="{% url 'int1_decline_text' applicant.id%}" target="_blank">Email Text</a></div>
            {%  endif %}

            {% if interview1.retain_in_file %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Retain in File:</u>&nbsp;&nbsp;<i class="fa-solid fa-check fa-xl" style="color:green"></i></div>
            {% else %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Retain in File:</u>&nbsp;&nbsp;<i class="fa-solid fa-xmark fa-xl" style="color:red"></i></div>
            {%  endif %}
        </div>
        <div class="row p-3 pt-0">
            {% if interview1.interview1_completed %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Completed:</u>&nbsp;&nbsp;<i class="fa-solid fa-check fa-xl" style="color:green"></i></div>
            {% else %}
                <div class="p-2 col-sm border border-secondary rounded"><h5><u>Completed:</u>&nbsp;&nbsp;<i class="fa-solid fa-xmark fa-xl" style="color:red"></i></div>
            {%  endif %}
        </div>
        <a href="{% url 'applicant_interview1' pk=applicant.id %}">
            <button class="btn btn-secondary float-end" type="submit">Add / Edit Interview 1</button></a>
    </div>
    <br><br>

    <!-- SECOND INTERVIEW -->
    <div class="container" id="second_interview">
        <h3><u>SECOND INTERVIEW DETAILS:</u></h3>

    </div>



{% endblock content %}