{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Attorneys</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    <div class="container">
        <br>
{#        <h3 class=" text-center text-uppercase">ATTORNEY<a href="{% url 'edit_applicant' pk=applicant.id %}">{{ applicant.first_name }} {{ applicant.middle_name }}{{ applicant.last_name }} ({{ applicant.state_abbrev }}-{{ applicant.position }})</a></h3>#}
        <h3 class=" text-center text-uppercase"><a href="">ATTORNEY {{ attorney.first_name }} {{ attorney.middle_name }}{{ attorney.last_name }}</a></h3>
        <h5 class=" text-center text-uppercase">Position: {{ attorney.state_abbrev }}-{{ attorney.position }}</a></h5>
    </div>
    <div class="container">
        <h5 class="text-center">
            {%  if attorney.phone %}
                Phone: {{ attorney.phone }},
            {%  else %}
                Phone: N/A,
            {%  endif %}
            {%  if attorney.email %}
                Email: {{ attorney.email }}
            {% else %}
                Email: N/A
            {%  endif %}
        </h5>
        <h5 class="text-center">
           {%  if attorney.resume %}
                <a href="{{ attorney.resume.url }}" target="_blank">Resume</a>
            {%  else %}
                Resume: N/A
            {%  endif %}
        </h5>
    </div>
    <br>

{#    BEGINNING OF ATTORNEY-SPECIFIC QUERIES AND ACCORDIONS#}
    {# Attorney Notes #}
    <div class="container">
        <div class="accordion" id="Notesaccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="Attorney Notes">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#NotescollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>GENERAL NOTES AND MESSAGES</strong>
              </button>
            </h2>
            <div id="NotescollapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#Callaccordion">
              <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From Name</th>
                            <th scope="col">Notes / Message</th>
                            <th class="text-center">f/u Required</th>
                            <th scope="col">Follow-Up Notes</th>
                            <th scope="col">Document</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in attorney_notes %}
                        <tr>
                            <td>{{note.date}}</td>
                            <td>{{note.from_person}}</td>
                            <td>{{note.notes}}</td>
                            {%  if note.follow_up_required %}
                                <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                            {%  else %}
                                <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                            {%  endif %}
                            <td>{{note.follow_up_notes}}</th>
                            {%  if call.document %}
                                <td class="text-center"><a href="{{ notes.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                            {%  else %}
                                <td class="text-center">N/A</td></a>
                            {%  endif %}
                            {#  <td class="text-center"><a href="{% url 'edit_attorney_QA' pk=QA.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                            <td class="text-center"><a href=""><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        {# Subaccordion to ADD NEW NOTES#}
          <div class="accordion-item">
            <h2 class="accordion-header" id="Add_Note">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NotecollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Add New Note or Message</strong>
              </button>
            </h2>
            <div id="NotecollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Add_Call">
              <div class="accordion-body">
              {#  Form to ADD NEW CALL RECORDING #}
                <div class="container">
                  <form method="post" enctype="multipart/form-data">
                    <div class="form-selection">
                        {% csrf_token %}
                        {{ NotesForm.non_form_errors }}
                        {% crispy NotesForm %}
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-secondary">Add New Attorney Note</button>
                    </div>
                  </form>
              </div>
            </div>
            {# End container for GENERAL NOTES AND MESSAGES #}
          </div>
      </div>
    </div>
    </div>
    </div>
    <br><br>


    {# CALL MONITORING DETAIL AND INFORMATION #}
    <div class="container">
        <div class="accordion" id="Callaccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="Call Monitoring">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#CallscollapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>CALL MONITORING</strong>
              </button>
            </h2>
            <div id="CallscollapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#Callaccordion">
              <div class="accordion-body">
                  <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Call Date</th>
                            <th scope="col">Call Time</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Disp. Code</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Attachment</th>
                            <th class="text-center" scope="col">Reviewer</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for call in call_requests %}
                        <tr>
                            <td>{{call.date}}</td>
                            <td>{{call.call_date}}</td>
                            <td>{{call.call_time}}</td>
                            <td>{{call.duration}}</th>
                            <td>{{call.disposition}}</th>
                            <td>{{call.notes}}</th>
                            {%  if call.document %}
                                    <td class="text-center"><a href="{{ call.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                {%  else %}
                                    <td class="text-center">N/A</td></a>
                                {%  endif %}
                            <td class="text-center">{{call.reviewer}}</td>
{#                            <td class="text-center"><a href="{% url 'edit_attorney_QA' pk=QA.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                            <td class="text-center"><a href=""><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="Add_Call">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CallcollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Add New Call Monitoring Event</strong>
              </button>
            </h2>
            <div id="CallcollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Add_Call">
              <div class="accordion-body">
              {#  Form to ADD NEW CALL RECORDING #}
                <div class="container">
                  <form method="post" enctype="multipart/form-data">
                    <div class="form-selection">
                        {% csrf_token %}
                        {{ CallForm.non_form_errors }}
                        {% crispy CallForm %}
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-secondary">Add New Call Review</button>
                    </div>
                  </form>
              </div>
            </div>
            {# End container for Call Monitoring #}
          </div>
      </div>
    </div>
    </div>
    </div>
    <br><br>

    {# Container for Coaching and QA Data#}
    <div class="container">
        <div class="accordion" id="QAaccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="coaching_and_QA">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>COACHING AND QA</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#QAaccordion">
              <div class="accordion-body">
                  <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Method</th>
                            <th scope="col">Related To</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Attachment</th>
                            <th class="text-center" scope="col">Author</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for QA in attorney_QA %}
                        <tr>
                            <td>{{QA.qa_date}}</td>
                            <td>{{QA.qa_time}}</td>
                            <td>{{QA.method}}</th>
                            <td>{{QA.related_to}}</th>
                            <td>{{QA.qa_note}}</th>
                            {%  if QA.document %}
                                    <td class="text-center"><a href="{{ QA.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                {%  else %}
                                    <td class="text-center">N/A</td></a>
                                {%  endif %}
                            <td class="text-center">{{QA.delivered_by}}</td>
                            <td class="text-center"><a href="{% url 'edit_attorney_QA' pk=QA.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="Add_QA">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Add New Coaching and QA Item</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Add_QA">
              <div class="accordion-body">
              {#  Put Form to add new record here#}
                <div class="container">
                  <form method="post" enctype="multipart/form-data">
                    <div class="form-selection">
                        {% csrf_token %}
                        {{ QAForm.non_form_errors }}
                        {% crispy QAForm %}
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-secondary">Add New Entry</button>
                    </div>
                  </form>
              </div>
            </div>
            {# End container for Coaching and QA Accordion #}
          </div>
      </div>
    </div>
    </div>
    </div>
    <br><br>

    {# Container for Flex and PTO Data #}
    <div class="container">
    <div class="accordion" id="HRaccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="hr_requests">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#HRcollapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <strong>FLEX AND PTO/UTO TRACKING</strong>
          </button>
        </h2>
        <div id="HRcollapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#HRaccordion">
          <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Type</th>
                        <th scope="col">Request Note</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Denied</th>
                        <th scope="col">Reasoning</th>
                        <th class="text-center" scope="col">Attach</th>
                        <th scope="col">Decision Manager</th>
                        <th class="text-center" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hr_request in hr_requests %}
                    <tr>
                        <td>{{hr_request.date}}</td>
                        <td>{{hr_request.time}}</td>
                        <td>{{hr_request.request_type}}</th>
                        <td>{{hr_request.request_note}}</th>
                        {%  if hr_request.approved %}
                            <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                        {% else %}
                            <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                        {%  endif  %}
                        {% if hr_request.denied %}
                            <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                        {% else %}
                            <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                        {% endif %}
                        <td>{{hr_request.reasoning}}</th>
                        {%  if hr_request.document %}
                                <td class="text-center"><a href="{{ hr_request.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                            {%  else %}
                                <td class="text-center">N/A</td></a>
                            {%  endif %}
                        <td class="text-center">{{hr_request.decision_manager}}</td>
                        <td class="text-center"><a href="{% url 'edit_attorney_QA' pk=hr_request.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>

        {# Container for New HR Data #}
        <div class="accordion-item">
            <h2 class="accordion-header" id="Add_HR">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Add_HR_collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Add New Flex / Time-Off Request</strong>
              </button>
            </h2>
            <div id="Add_HR_collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Add_HR">
              <div class="accordion-body">
                <div class="container">
                  <form method="post" enctype="multipart/form-data">
                    <div class="form-selection">
                        {% csrf_token %}
                        {{ HRForm.non_form_errors }}
                        {% crispy HRForm %}
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-secondary">Add New Flex / Time-Off Request</button>
                    </div>
                  </form>
              </div>
            </div>
        </div>
        </div>
      </div>
    <br><br>

    </div>
{% endblock content %}