{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Attorneys</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    <div class="container">
        <h3 class=" text-center text-uppercase">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RE: <a href="{% url 'edit_attorney_profile' pk=attorney.employee_id %}">{{ attorney.first_name }} {{ attorney.middle_name }} {{ attorney.last_name }}</a></h3>
{#            <i class="fa-solid fa-pen-to-square fa-sm"></i></a>#}
        </h3>
        <h5 class=" text-center text-uppercase">Position: {{ attorney.state_abbrev }}-{{ attorney.position }}</a></h5>
    </div>
    <div class="container">
{#        <h5 class="text-center">#}
{#            {%  if attorney.phone %}#}
{#                Phone: {{ attorney.phone }},#}
{#            {%  else %}#}
{#                Phone: N/A,#}
{#            {%  endif %}#}
{#            {%  if attorney.email %}#}
{#                Email: {{ attorney.email }}#}
{#            {% else %}#}
{#                Email: N/A#}
{#            {%  endif %}#}
{#        </h5>#}
        <h5 class="text-center">Priority: <u>{{ attorney.priority }}</u></h5>
{#        <h5 class="text-center">#}
{#           {%  if attorney.resume %}#}
{#                <a href="{{ attorney.resume.url }}" target="_blank">Resume</a>#}
{#            {%  else %}#}
{#                Resume: N/A#}
{#            {%  endif %}#}
{#        </h5>#}
    </div>

    {# TAB ITEMS#}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="metrics-tab" data-bs-toggle="tab" data-bs-target="#metrics" type="button" role="tab" aria-controls="metrics" aria-selected="true">Metrics</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">General Notes and Messages</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="calls-tab" data-bs-toggle="tab" data-bs-target="#calls" type="button" role="tab" aria-controls="calls" aria-selected="false">Call Monitoring</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="coaching-tab" data-bs-toggle="tab" data-bs-target="#coaching" type="button" role="tab" aria-controls="coaching" aria-selected="false">Coaching and QA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="flex-tab" data-bs-toggle="tab" data-bs-target="#timeoff" type="button" role="tab" aria-controls="timeoff" aria-selected="false">Time Off / Change Tracking</button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent" style="border: 1px solid #ddd">
        {# METRICS TAB #}
            <div class="tab-pane fade show active" id="metrics" role="tabpanel" aria-labelledby="metrics-tab">
                <div class="container">
                    <br>
                    <a href="{% url 'add_metric' pk=attorney.employee_id %}">
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New</button>
                    </a>
                <br><br>
                    {%  if metrics %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th class="text-center" scope="col">Timeframe</th>
                                    <th class="text-center" scope="col">Attrition Rate</th>
                                    <th class="text-center" scope="col">Quality Assurance</th>
                                    <th class="text-center" scope="col">Call Timeliness</th>
                                    <th class="text-center" scope="col">Missing Call Dispo</th>
                                    <th class="text-center" scope="col">Reviews Outstanding</th>
{#                                    <th class="text-center" scope="col">EA Completion</th>#}
                                    <th class="text-center" scope="col">Pro Se Answer Reviews</th>
{#                                    <th class="text-center" scope="col">Other</th>#}
{#                                    <th scope="col">Other Description</th>#}
                                    <th class="text-center" scope="col">Document</th>
                                    <th class="text-center" scope="col">Edit</th>
                                    <th class="text-center" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for metric in metrics %}
                                    {% if metric.timeframe == "Monthly" and metric.metric == "Attrition Rate" and metric.value >= 5 %}
                                        <tr class="table-danger">
                                    {% elif metric.timeframe == "Monthly" and metric.metric == "Attrition Rate" and metric.value >= 3 %}
                                        <tr class="table-warning">
                                    {%  elif metric.timeframe == "Monthly" and metric.metric == "Attrition Rate" %}
                                        <tr class="table-info">
                                    {%  else %}
                                        <tr>
                                    {%  endif %}
                                        <td class="text-center">{{metric.date|date:'m/d/y'}}</td>
                                        {%  if  metric.timeframe == "Monthly" %}
                                            <td class="text-center"><strong>{{metric.timeframe }}</strong></td>
                                        {%  else %}
                                            <td class="text-center">{{metric.timeframe }}</td>
                                        {% endif %}

                                        {% if metric.metric == "Attrition Rate" and metric.timeframe == "Monthly" %}
                                            <td class="text-center"><strong>{{metric.value}} %</strong></td>
                                        {%  elif metric.metric == "Attrition Rate" %}
                                            <td class="text-center">{{metric.value}} %</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}

                                        {% if metric.metric == "Quality Assurance" and metric.timeframe == "Monthly" %}
                                            <td class="text-center"><strong>{{metric.value}} %</strong></td>
                                        {%  elif metric.metric == "Quality Assurance" %}
                                            <td class="text-center">{{metric.value}} %</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}

                                        {% if metric.metric == "Call Timeliness" %}
                                            <td class="text-center">{{metric.value}} %</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}

                                        {% if metric.metric == "Missing Dispo Codes" %}
                                            <td class="text-center">{{metric.value|floatformat:0 }}</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}
                                        {% if metric.metric == "Review Completion" %}
                                            <td class="text-center">{{metric.value|floatformat:0}}</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}
{#                                        {% if metric.metric == "EA Completion" %}#}
{#                                            <td class="text-center">{{metric.value}} %</td>#}
{#                                        {%  else %}#}
{#                                            <td></td>#}
{#                                        {% endif %}#}
                                        {% if metric.metric == "Pro Se Answer Reviews" %}
                                            <td class="text-center">{{metric.value}} %</td>
                                        {%  else %}
                                            <td></td>
                                        {% endif %}
    {#                                    {% if metric.metric == "Other" %}#}
    {#                                        <td class="text-center">{{metric.value}} %</td>#}
    {#                                        <td>{{metric.other_description}}</td>#}
    {#                                    {%  else %}#}
    {#                                        <td></td>#}
    {#                                        <td></td>#}
    {#                                    {% endif %}#}
                                        {%  if metric.document %}
                                            <td class="text-center"><a href="{{ metric.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                        {%  else %}
                                            <td class="text-center">N/A</td></a>
                                        {%  endif %}
                                        <td class="text-center"><a href="{% url 'edit_metric' pk=metric.id employee=metric.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                                        <td class="text-center"><a href="{% url 'delete_metric' pk=metric.id %}"><i class="fa-solid fa-trash fa-lg"></i></td> {# Delete #}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {%  endif %}
                </div>
            </div>

        {# NOTES TAB #}
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <div class="container">
                    <br>
                    <a href="{% url 'add_note' pk=attorney.employee_id %}" >
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New</button>
                    </a>
                    <br><br>
                    {%  if attorney_notes %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">From Name</th>
                                    <th scope="col">Notes / Message</th>
                                    <th class="text-center">F/U Required</th>
                                    <th scope="col">Follow-Up Notes</th>
                                    <th class="text-center">Completed</th>
                                    <th class="text-center" scope="col">Document</th>
                                    <th class="text-center" scope="col">Edit</th>
                                    <th class="text-center" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in attorney_notes %}
                                <tr>
                                    <td>{{note.date|date:'m/d/y'}}</td>
                                    <td>{{note.from_person}}</td>
                                    <td>{{note.notes}}</td>
                                    {%  if note.follow_up_required %}
                                        <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                                    {%  else %}
                                        <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                                    {%  endif %}
                                    <td>{{note.follow_up_notes}}</th>
                                    {% if note.follow_up_required and note.follow_up_completed %}
                                        <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                                    {% elif note.follow_up_required %}
                                        <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                                    {%  else %}
                                        <td class="text-center">N/A</td>
                                    {%  endif %}
                                    {%  if note.document %}
                                        <td class="text-center"><a href="{{ note.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                    {%  else %}
                                        <td class="text-center">N/A</td></a>
                                    {%  endif %}
                                    <td class="text-center"><a href="{% url 'edit_note' pk=note.id employee=note.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                                    <td class="text-center"><a href="{% url 'delete_note' pk=note.id employee=note.employee_id_id %}"><i class="fa-solid fa-trash fa-lg"></i></td> {# Delete #}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {%  endif %}
                </div>
            </div>

        {# CALLS TAB #}
            <div class="tab-pane fade" id="calls" role="tabpanel" aria-labelledby="calls-tab">
               <div class="container">
                   <br>
                   <a href="{% url 'add_call' pk=attorney.employee_id %}" >
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New</button>
                    </a>
                    <br><br>
                    {%  if call_requests %}
                      <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Call Date</th>
                                <th scope="col">Call Time</th>
{#                                <th scope="col">URL</th>#}
                                <th scope="col">Duration</th>
                                <th scope="col">Disp. Code</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Attachment</th>
                                <th class="text-center" scope="col">Reviewer</th>
                                <th class="text-center" scope="col">Edit</th>
                                <th class="text-center" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for call in call_requests %}
                            <tr>
                                <td>{{call.date|date:'m/d/y'}}</td>
                                <td>{{call.call_date|date:'m/d/y'}}</td>
                                <td>{{call.call_time}}</td>
{#                                <td>{{call.call_url}}</th>#}
                                <td>{{call.duration}}</th>
                                <td>{{call.disposition}}</th>
                                <td>{{call.notes}}</th>
                                {%  if call.document %}
                                        <td class="text-center"><a href="{{ call.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                    {%  else %}
                                        <td class="text-center">N/A</td></a>
                                    {%  endif %}
                                <td class="text-center">{{call.reviewer}}</td>
                                <td class="text-center"><a href="{% url 'edit_call' pk=call.id employee=call.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                                <td class="text-center"><a href="{% url 'delete_call' pk=call.id employee=call.employee_id_id %}"><i class="fa-solid fa-trash fa-lg"></i></td> {# Delete #}
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
               {% endif %}
              </div>
            </div>

        {# COACHING TAB #}
            <div class="tab-pane fade" id="coaching" role="tabpanel" aria-labelledby="coaching-tab">
                <div class="container">
                    <br>
                    <a href="{% url 'add_coaching' pk=attorney.employee_id %}" >
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New</button>
                    </a>
                    <br><br>
                    {%  if attorney_QA %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Method</th>
                                <th scope="col">Related To</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Attachment</th>
                                <th class="text-center" scope="col">Delivered By</th>
                                <th class="text-center" scope="col">Edit</th>
                                <th class="text-center" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for QA in attorney_QA %}
                            <tr>
                                <td>{{QA.qa_date|date:'m/d/y'}}</td>
                                <td>{{QA.qa_time}}</td>
                                <td>{{QA.method}}</th>
                                <td>{{QA.related_to}}</th>
                                <td>{{QA.qa_note}}</th>
                                {%  if QA.document %}
                                        <td class="text-center"><a href="{{ QA.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                    {%  else %}
                                        <td class="text-center">N/A</td></a>
                                    {%  endif %}
                                <td class="text-center">{{QA.delivered_by}}</td>
                                <td class="text-center"><a href="{% url 'edit_coaching' pk=QA.id employee=QA.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                                <td class="text-center"><a href="{% url 'delete_QA' pk=QA.id employee=QA.employee_id_id %}"><i class="fa-solid fa-trash fa-lg"></i></td> {# Delete #}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>

            {# TIMEOFF TAB #}
            <div class="tab-pane fade" id="timeoff" role="tabpanel" aria-labelledby="timeoff-tab">
                <div class="container">
                    <br>
                    <a href="{% url 'add_hr' pk=attorney.employee_id %}" >
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New</button>
                    </a>
                    <br><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Type</th>
                                <th scope="col">Request Note</th>
                                <th class="text-center" scope="col">Approved</th>
                                <th scope="col">Reasoning</th>
                                <th class="text-center" scope="col">Attach</th>
                                <th class="text-center scope="col">Decision Manager</th>
                                <th class="text-center" scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hr_request in hr_requests %}
                            <tr>
                                <td>{{hr_request.date|date:'m/d/y'}}</td>
                                <td>{{hr_request.time}}</td>
                                <td>{{hr_request.request_type}}</td>
                                <td>{{hr_request.request_note}}</td>
                                {%  if hr_request.approval_status == "Approved" %}
                                    <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></td>
                                {% elif hr_request.approval_status == "Denied" %}
                                    <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                                {% else %}
                                    <td class="text-center">PENDING</td>
                                {%  endif  %}
                                <td>{{hr_request.reasoning}}</td>
                                {%  if hr_request.document %}
                                        <td class="text-center"><a href="{{ hr_request.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></a></td>
                                    {%  else %}
                                        <td class="text-center">N/A</td>
                                    {%  endif %}
                                <td class="text-center">{{hr_request.decision_manager}}</td>
                                <td class="text-center"><a href="{% url 'edit_hr' pk=hr_request.id employee=hr_request.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock content %}