<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error Page</title>
</head>
<body>
    <!-- template/404.html -->
    <br><br><br>
    <div style="text-align: center">
        <img src="{% static 'template/../images/Virtual-Bankruptcy-logo.png' %}"
                                 alt="Virtual-Bankruptcy Logo" style="width: 30%">
        <br><br>
        <h1>Oops! Something went wrong.</h1>
        <h2>404 Error. Page not found.</h2>
    </div>
</body>
</html>