{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Attorney Dashboard</h4>
    </div>
</header>
{% endblock header %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="attorneys-tab" data-bs-toggle="tab" data-bs-target="#attorneys" type="button" role="tab" aria-controls="attorneys" aria-selected="true">Attorney List</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tickler-tab" data-bs-toggle="tab" data-bs-target="#tickler" type="button" role="tab" aria-controls="tickler" aria-selected="false">Tickler</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="todo-tab" data-bs-toggle="tab" data-bs-target="#todo" type="button" role="tab" aria-controls="todo" aria-selected="false">To Do</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="issues-tab" data-bs-toggle="tab" data-bs-target="#issues" type="button" role="tab" aria-controls="issues" aria-selected="false">Issues Log</button>
          </li>

        </ul>

        {# Content for Attorney List Tab#}
        <div class="tab-content" id="myTabContent" style="border: 1px solid #ddd">
             <div class="tab-pane fade show active" id="attorneys" role="tabpanel" aria-labelledby="attorneys-tab">
                <br>
                 <div class="container">
                    {# SEARCH FORM#}
                  <form method="post">
                    <div class="form-selection">
                        {% csrf_token %}
                        {{ searchForm.non_form_errors }}
                        {% crispy searchForm %}
                    </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                  </form>
                </div>
                <br>

                <div class="container">
                    <h3><u>List of Attorneys
                    {%  if search_criteria == "manager" %}
                        for {{ search_term }}
                    {% elif search_criteria == "state" %}
                        in {{ search_term }}
                    {% elif search_criteria == "priority" %}
                        with Priority of {{ search_term }}
                    {%  else %}
                        (All)
                    {% endif %}
                    </u></h3>
                </div>
                {# LIST OF ALL OR SEARCHED EMPLOYEES#}
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">State</th>
                                <th scope="col">Position</th>
                                <th scope="col">Attorney Name</th>
                                <th scope="col">Manager</th>
                                <th class="text-center" scope="col">Start Date</th>
                                <th class="text-center" scope="col">Resume</th>
                                <th class="text-center" scope="col">Edit</th>
                                <th class="text-center" scope="col">QA Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%  for attorney in attorney_list %}
                                <tr>
                                    <td>{{attorney.state_abbrev}}</td>
                                    <td>{{attorney.position}}</td>
                                    <td><a href="attorney_data/{{ attorney.employee_id }}">{{ attorney.first_name }} {{ attorney.middle_name }} {{ attorney.last_name}}</a></td>
                                    <td>{{attorney.manager}}</td>
                                    <td class="text-center">{{attorney.start_date|date:'m/d/Y'}}</td>
                                    {%  if attorney.resume %}
                                        <td class="text-center"><a href="{{ attorney.resume.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></a></td>
                                    {%  else %}
                                        <td class="text-center">N/A</td>
                                    {%  endif %}
                                    <td class="text-center"><a href="{% url 'edit_attorney_profile' pk=attorney.employee_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a></td> {# Edit #}
                                    {% if attorney.priority == "Critical" %}
                                        <td class = "bg-danger" style="text-align: center">{{attorney.priority}}</td>
                                    {% elif attorney.priority == "High" %}
                                        <td class = "bg-warning" style="text-align: center">{{attorney.priority}}</td>
                                    {% elif attorney.priority == "Medium" %}
                                        <td class = "bg-info" style="text-align: center">{{attorney.priority}}</td>
                                   {%  else %}
                                        <td class = "bg-success" style="text-align: center">{{attorney.priority}}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br><br>
            </div>


        {# Provide TICKLER for #}
        <div class="tab-pane fade" id="tickler" role="tabpanel" aria-labelledby="tickler-tab">
            <div class="container">
            <br>
            {# beginning of accordions to list and add new call monitoring information #}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From Name</th>
                            <th scope="col">Attorney</th>
                            <th scope="col">Notes / Message</th>
                            <th class="text-center">F/U Required</th>
                            <th scope="col">Follow-Up Notes</th>
                            <th scope="col">Completed</th>
                            <th scope="col">Document</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tickler in tickler_list %}
                        <tr>
                            <td>{{tickler.date}}</td>
                            <td>{{tickler.from_person}}</td>
                            <td><a href="{% url 'attorney_data' pk=tickler.employee_id_id %}">{{tickler.employee_name}}</td>
                            <td>{{tickler.notes}}</td>
                            {%  if tickler.follow_up_required %}
                                <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></td>
                            {%  else %}
                                <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></td>
                            {%  endif %}
                            <td>{{tickler.follow_up_notes}}</td>
                            {% if ticker.follow_up_required and tickler.follow_up_completed %}
                                <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                            {% elif tickler.follow_up_required %}
                                <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                            {%  else %}
                                <td class="text-center">N/A</td>
                            {%  endif %}
                            {%  if tickler.document %}
                                <td class="text-center"><a href="{{ tickler.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></a></td>
                            {%  else %}
                                <td class="text-center">N/A</td>
                            {%  endif %}
                            <td class="text-center"><a href="{% url 'edit_note' pk=tickler.id employee=tickler.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a></td> {# Edit #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# TO DO TAB #}
          <div class="tab-pane fade" id="todo" role="tabpanel" aria-labelledby="todo-tab">
            <div class="container">
                <br>
                    <a href="{% url 'add_todo' pk=manager_id %}" >
                        <button class="btn btn-success btn-sm" style="float: right" type="submit"><i class="fa-duotone fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Task</button>
                    </a>
                <br><br>
                {% if to_do_list %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Task</th>
                            <th scope="col">Notes</th>
                            <th class="text-center" scope="col">Document</th>
                            <th class="text-center" scope="col">Completed</th>
                            <th class="text-center" scope="col">Edit</th>
                            <th class="text-center" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in to_do_list %}
                            {% if task.completed %}
                                <tr style="text-decoration-line: line-through">
                            {% else %}
                                <tr>
                            {% endif %}
                                   <td>{{ task.date }}</td>
                                   <td>{{ task.due_date }}</td>
                                   <td>{{ task.task }}</td>
                                   <td>{{ task.notes }}</td>
                                    {%  if task.document %}
                                        <td class="text-center"><a href="{{ task.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                                    {%  else %}
                                        <td class="text-center">N/A</td></a>
                                    {%  endif %}
                                    {% if task.completed %}
                                        <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                                    {% else %}
                                        <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                                    {%  endif %}
                                    <td class="text-center"><a href="{% url 'edit_task' pk=task.id employee=task.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                                    <td class="text-center"><a href="{% url 'delete_task' pk=task.id %}"><i class="fa-solid fa-trash fa-lg"></i></td> {# Delete #}
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
          </div>

        {# ISSUES LOG #}
        <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
            <div class="container">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From Name</th>
                            <th scope="col">Attorney</th>
                            <th scope="col">Notes / Message</th>
                            <th class="text-center">f/u Required</th>
                            <th scope="col">Follow-Up Notes</th>
                            <th scope="col">Document</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                </table>
                <p>ISSUES WILL GO HERE</p>
            </div>
          </div>
        </div>
{% endblock content %}