{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Attorneys</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    {# SEARCH FORM#}
    <div class="container">
    <br>
      <form method="post">
        <div class="form-selection">
            {% csrf_token %}
            {{ searchForm.non_form_errors }}
            {% crispy searchForm %}
        </div>
        <div style="float: right">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
    <br><br>

    <div class="container">
        <h2><u>List of Attorneys</u></h2>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Position</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Attorney Name</th>
                    <th class="text-center" scope="col">QA Priority</th>
                </tr>
            </thead>
            <tbody>
                {%  for attorney in attorney_list %}
                    <tr>
                        <td>{{attorney.state_abbrev}}</td>
                        <td>{{attorney.position}}</td>
                        <td>{{attorney.manager}}</td>
                        <td><a href="attorney_data/{{ attorney.employee_id }}">{{ attorney.first_name }} {{ attorney.middle_name }} {{ attorney.last_name}}</a></td>
                        <td class="text-center">{{attorney.priority}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}