{% extends 'templates/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'states' %}">State Data</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'recruiting' %}">Recruiting</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'onboarding' %}">Onboarding</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded active" href="{% url 'attorneys' %}">Attorneys</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#reports">Reports</a></li>
    </ul>
</div>
{% endblock menu %}

{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading text-uppercase mb-0">Attorneys</h4>
    </div>
</header>
{% endblock header %}

{% block content %}}
    {# SEARCH FORM#}
    <div class="container">
    <br>
      <form method="post">
        <div class="form-selection">
            {% csrf_token %}
            {{ searchForm.non_form_errors }}
            {% crispy searchForm %}
        </div>
        <div style="float: right">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
    <br><br>

    <div class="container">
        <h3><u>List of Attorneys
        {%  if search_criteria == "manager" %}
            for {{ search_term }}
        {% elif search_criteria == "state" %}
            in {{ search_term }}
        {% elif search_criteria == "priority" %}
            with Priority of {{ search_term }}
        {%  else %}
            (All)
        {% endif %}
        </u></h3>
    </div>
    {# LIST OF ALL OR SEARCHED EMPLOYEES#}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Position</th>
                    <th scope="col">Attorney Name</th>
                    <th scope="col">Manager</th>
                    <th class="text-center" scope="col">Resume</th>
                    <th class="text-center" scope="col">Edit</th>
                    <th class="text-center" scope="col">QA Priority</th>
                </tr>
            </thead>
            <tbody>
                {%  for attorney in attorney_list %}
                    <tr>
                        <td>{{attorney.state_abbrev}}</td>
                        <td>{{attorney.position}}</td>
                        <td><a href="attorney_data/{{ attorney.employee_id }}">{{ attorney.first_name }} {{ attorney.middle_name }} {{ attorney.last_name}}</a></td>
                        <td>{{attorney.manager}}</td>
                        {%  if attorney.resume %}
                            <td class="text-center"><a href="{{ attorney.resume.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                        {%  else %}
                            <td class="text-center">N/A</td></a>
                        {%  endif %}
                        <td class="text-center"><a href="{% url 'edit_attorney_profile' pk=attorney.employee_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                        {% if attorney.priority == "Critical" %}
                            <td class = "bg-danger" style="text-align: center">{{attorney.priority}}</td>
                        {% elif attorney.priority == "High" %}
                            <td class = "bg-warning" style="text-align: center">{{attorney.priority}}</td>
                        {% elif attorney.priority == "Medium" %}
                            <td class = "bg-info" style="text-align: center">{{attorney.priority}}</td>
                       {%  else %}
                            <td class = "bg-success" style="text-align: center">{{attorney.priority}}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>

        {# If the Search is by Manager, Provide TICKLER and TO DO#}
    <div class="container">
    {# beginning of accordions to list and add new call monitoring information #}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">From Name</th>
                            <th scope="col">Attorney</th>
                            <th scope="col">Notes / Message</th>
                            <th class="text-center">f/u Required</th>
                            <th scope="col">Follow-Up Notes</th>
                            <th scope="col">Document</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tickler in tickler_list %}
                        <tr>
                            <td>{{tickler.date}}</td>
                            <td>{{tickler.from_person}}</td>
                            <td>{{tickler.employee_name}}</td>
                            <td>{{tickler.notes}}</td>
                            {%  if tickler.follow_up_required %}
                                <td class="text-center"><i class="fa-solid fa-check fa-xl" style="color:green"></i></th>
                            {%  else %}
                                <td class="text-center"><i class="fa-solid fa-xmark fa-xl" style="color:red"></i></th>
                            {%  endif %}
                            <td>{{tickler.follow_up_notes}}</th>
                            {%  if tickler.document %}
                                <td class="text-center"><a href="{{ notes.document.url }}" target="_blank"><i class="fa-solid fa-file fa-lg"></i></td></a>
                            {%  else %}
                                <td class="text-center">N/A</td></a>
                            {%  endif %}
                            {#  <td class="text-center"><a href="{% url 'edit_attorney_QA' pk=QA.employee_id_id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                            <td class="text-center"><a href=""><i class="fa-solid fa-pen-to-square fa-lg"></i></td> {# Edit #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
    <br><br>


{% endblock content %}